._1gor0kq0{gap:var(--jhqn1xd);width:100%;scroll-margin-top:calc((var(--_1u9hg1i0) * 2) + var(--jhqn1xk));grid-template-columns:[full-start]1fr[full-end]}
._1gor0kq1{align-items:center;gap:var(--jhqn1xf);width:100%;display:flex}
._1gor0kq2{color:var(--_1nfc5st79);gap:var(--jhqn1x7);flex-grow:1;align-items:center;display:flex}
._1gor0kq5{gap:var(--jhqn1x9);grid-template-columns:1fr;display:grid}
@media (min-width:0) and (max-width:767.98px){._1gor0kq0{scroll-margin-top:calc((var(--_1u9hg1i0) * 2) + var(--jhqn1xh));padding:0 var(--jhqn1xf)}._1gor0kq1{gap:var(--jhqn1x5)}._1gor0kq2{gap:var(--jhqn1x5);font-size:var(--jhqn1xd);letter-spacing:-.0075em;line-height:1.3}._1gor0kq3{height:var(--jhqn1xh);min-width:var(--jhqn1xh);aspect-ratio:1;padding:0}._1gor0kq4{margin-top:var(--jhqn1x9);margin-bottom:var(--jhqn1x9);justify-self:center}}
@media (min-width:0) and (max-width:767.98px) and (orientation:landscape){._1gor0kq5{grid-template-columns:repeat(3,1fr)}}
@media (min-width:768px){._1gor0kq5{grid-template-columns:repeat(3,1fr)}}
._3cq55y1{pointer-events:var(--_3cq55y0)}
._3cq55y2{opacity:.003;will-change:opacity}
._3cq55y3{pointer-events:none;background:var(--_1nfc5st7d);z-index:8001;opacity:.003;position:fixed;inset:0}
._3cq55y4{--_3cq55y0:auto;z-index:8002;touch-action:none;-webkit-user-select:none;user-select:none;border:none;outline:none;grid-template-rows:minmax(0,1fr) min-content;width:100%;max-width:100%;height:100%;max-height:100%;display:grid;position:fixed;inset:0;overflow:hidden;transform:translateZ(0)}
._3cq55y5{z-index:8004;align-items:center;gap:var(--_1uw8doi3);pointer-events:none;grid-template-columns:1fr min-content;max-width:100%;display:grid;position:absolute;top:0;left:0;right:0}
._3cq55y6{z-index:8003;width:100%;height:100%;position:relative;overflow:visible}
._3cq55y7{will-change:transform;touch-action:none;width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden}
._3cq55y9{pointer-events:none}
._3cq55ya{will-change:transform;touch-action:none;width:100%;height:100%;position:absolute;top:0;left:0}
._3cq55yb{object-fit:contain;width:100%;height:100%;position:absolute;top:0;left:0}
._3cq55yc{object-fit:contain;width:100%;height:100%;position:absolute;top:0;left:0}
._3cq55yd{width:100%;height:100%;min-height:1vh}
._3cq55ye{object-fit:contain;width:100%;height:100%;min-height:1vh}
._3cq55ye::-webkit-media-controls-volume-slider{display:none!important}
._3cq55ye::-webkit-media-controls-mute-button{display:none!important}
._3cq55ye::-webkit-media-controls-fullscreen-button{display:none}
._3cq55ye:focus-visible{outline:none}
._3cq55yg{visibility:hidden}
._3cq55yi{visibility:hidden;pointer-events:all}
._3cq55yj{z-index:8004;width:100%}
._3cq55yk{visibility:hidden}
._3cq55y4[data-sizes-state=open] ._3cq55yk{pointer-events:none}
._3cq55ym{z-index:8004;pointer-events:none}
@media (min-width:768px){._3cq55y5{padding:var(--_1u9hg1i0);justify-content:flex-end}._3cq55y6{padding:var(--jhqn1xb)}}
@media (min-width:0) and (max-width:767.98px){._3cq55y5{padding:0 var(--_1u9hg1i0);height:var(--jhqn1xu)}._3cq55y6{padding-top:var(--jhqn1xu)}._3cq55yj{pointer-events:none}._3cq55yo{pointer-events:auto}._3cq55y4[data-sizes-state=open] ._3cq55yo{pointer-events:none}}