._1pih37e1{--_1pih37e0:var(--jhqn1x6);flex-direction:column;width:100%;display:flex}
._1pih37e2{margin:0 var(--jhqn1xd) var(--jhqn1x9);flex-wrap:wrap;justify-content:space-between;align-items:center;display:flex}
._1pih37e3{color:var(--_1nfc5st79)}
._1pih37e4{display:flex}
._1pih37e5{visibility:hidden}
._1pih37e6{max-width:100%;overflow-x:clip}
._1pih37e7{-webkit-mask-image:linear-gradient(90deg, transparent 0%, black var(--jhqn1xd), black calc(100% - var(--jhqn1xd)), transparent 100%);mask-image:linear-gradient(90deg, transparent 0%, black var(--jhqn1xd), black calc(100% - var(--jhqn1xd)), transparent 100%);-webkit-mask-clip:no-clip;mask-clip:no-clip}
._1pih37e9{margin:0 var(--jhqn1xd);gap:var(--_1pih37e0);display:flex}
._1pih37eb{flex:0 0 var(--jhqn1x12)}
._1pih37ec{flex:1}
._1pih37ed{cursor:pointer;pointer-events:auto;text-align:left;box-sizing:border-box;width:100%;height:100%;padding:var(--jhqn1x7) var(--jhqn1x9);border-style:solid;border-width:1px;border-color:var(--_1nfc5st7k);border-radius:var(--foundry-global-border-radius-100-742803b2);outline-offset:4px;align-items:start;gap:var(--jhqn1x3);-webkit-tap-highlight-color:transparent;transition-property:background,border;transition-duration:var(--_16b6yl79);transition-timing-function:var(--_16b6yl78);background:0 0;outline:4px solid #0000;flex-direction:column;display:flex}
._1pih37ed[data-state=inactive]:hover{border-color:var(--_1nfc5st76)}
._1pih37ed[data-state=active],._1pih37ed[data-active]{background:var(--_1nfc5st7o);border-color:var(--_1nfc5st7o);cursor:default}
._1pih37ed:focus-visible{outline-color:var(--_1nfc5st73)!important}
._1pih37ee{cursor:pointer;word-spacing:9999em;color:var(--_1nfc5st7b);transition:color var(--_16b6yl79) var(--_16b6yl78)}
._1pih37ed[data-state=inactive]:hover ._1pih37ee{color:var(--_1nfc5st79)}
._1pih37ed[data-state=active] ._1pih37ee{color:var(--_1nfc5st7p);cursor:default}
._1pih37ef{color:var(--_1nfc5st7b);transition:color var(--_16b6yl79) var(--_16b6yl78)}
._1pih37ed[data-state=inactive]:hover ._1pih37ef{color:var(--_1nfc5st79)}
._1pih37ed[data-state=active] ._1pih37ef{color:var(--_1nfc5st7q)}
._1pih37eg{padding:0 var(--jhqn1x4);margin:var(--jhqn1x7) var(--jhqn1xd) 0;grid-template-columns:1fr;display:grid}
._1pih37eh{color:var(--_1nfc5st7b);transition:opacity var(--_16b6yl79) var(--_16b6yl78);grid-row-start:1;grid-column-start:1}
._1pih37ei{opacity:1}
._1pih37ej{opacity:0}
@media (min-width:768px) or ((min-width:0) and (max-width:767.98px) and (orientation:landscape)){._1pih37ed{border-radius:var(--foundry-global-border-radius-150-ca109bc3)}}