@media not all and (min-width:0) and (max-width:478.98px){._7qil391{display:none!important}}
@media not all and (min-width:479px) and (max-width:767.98px){._7qil392{display:none!important}}
@media not all and (min-width:0) and (max-width:767.98px){._7qil393{display:none!important}}
@media not all and (min-width:0) and (max-width:767.98px) and (orientation:portrait){._7qil394{display:none!important}}
@media not all and (min-width:0) and (max-width:478.98px) and (orientation:landscape){._7qil395{display:none!important}}
@media not all and (min-width:0) and (max-width:767.98px) and (orientation:landscape){._7qil396{display:none!important}}
@media not all and (min-width:768px) and (max-width:1439.98px){._7qil397{display:none!important}}
@media not all and (min-width:768px) and (max-width:1023.98px){._7qil398{display:none!important}}
@media not all and (min-width:1024px) and (max-width:1279.98px){._7qil399{display:none!important}}
@media not all and (min-width:768px) and (max-width:1279.98px){._7qil39a{display:none!important}}
@media not all and (min-width:1280px) and (max-width:1439.98px){._7qil39b{display:none!important}}
@media not all and (min-width:1440px) and (max-width:2559.98px){._7qil39c{display:none!important}}
@media not all and (min-width:1440px) and (max-width:1919.98px){._7qil39d{display:none!important}}
@media not all and (min-width:1920px) and (max-width:2559.98px){._7qil39e{display:none!important}}
@media not all and (min-width:768px) and (max-width:2559.98px){._7qil39f{display:none!important}}
@media not all and (min-width:480px){._7qil39g{display:none!important}}
@media not all and (min-width:768px){._7qil39h{display:none!important}}
@media not all and (min-width:1024px){._7qil39i{display:none!important}}
@media not all and (min-width:1280px){._7qil39j{display:none!important}}
@media not all and (min-width:1440px){._7qil39k{display:none!important}}
@media not all and (min-width:1920px){._7qil39l{display:none!important}}
@media not all and (min-width:2560px){._7qil39m,._7qil39x{display:none!important}}
@media not all and (orientation:portrait){._7qil39n{display:none!important}}
@media not all and (orientation:landscape){._7qil39o{display:none!important}}
@media not all and (min-aspect-ratio:2.25){._7qil39p{display:none!important}}
@media not all and (pointer:coarse){._7qil39q{display:none!important}}
@media not all and (min-width:0) and (max-width:450.98px) and (orientation:portrait){._7qil39r{display:none!important}}
@media not all and (min-width:451px) and (max-width:767.98px) and (orientation:portrait){._7qil39s{display:none!important}}
@media not all and (min-width:768px) and (max-width:1280.98px),(max-width:767.98px) and (orientation:landscape){._7qil39t{display:none!important}}
@media not all and (min-width:768px) and (orientation:portrait){._7qil39u{display:none!important}}
@media not all and (min-width:1281px) and (max-width:1920.98px){._7qil39v,._7qil3911{display:none!important}}
@media not all and (min-width:1921px){._7qil39w,._7qil3912{display:none!important}}
@media not all and (min-width:0) and (max-width:450.98px){._7qil39y{display:none!important}}
@media not all and (min-width:451px) and (max-width:767.98px){._7qil39z{display:none!important}}
@media not all and (min-width:768px) and (max-width:1280.98px){._7qil3910{display:none!important}}
@media not all and (min-width:0) and (max-width:1449.98px){._7qil3913{display:none!important}}
@media not all and (min-width:1500px) and (max-width:1999.98px){._7qil3914{display:none!important}}
@media not all and (min-width:2000px){._7qil3915{display:none!important}}
@media not all and (max-aspect-ratio:.6){._7qil3916{display:none!important}}
@media not all and (min-aspect-ratio:.6) and (max-aspect-ratio:1){._7qil3917{display:none!important}}
@media not all and (min-aspect-ratio:2.25),(min-width:0) and (max-width:767.98px) and (min-aspect-ratio:2){._7qil3918{display:none!important}}
@media (min-width:0) and (max-width:478.98px){._7qil3919{display:none!important}}
@media (min-width:479px) and (max-width:767.98px){._7qil391a{display:none!important}}
@media (min-width:0) and (max-width:767.98px){._7qil391b{display:none!important}}
@media (min-width:0) and (max-width:767.98px) and (orientation:portrait){._7qil391c{display:none!important}}
@media (min-width:0) and (max-width:478.98px) and (orientation:landscape){._7qil391d{display:none!important}}
@media (min-width:0) and (max-width:767.98px) and (orientation:landscape){._7qil391e{display:none!important}}
@media (min-width:768px) and (max-width:1439.98px){._7qil391f{display:none!important}}
@media (min-width:768px) and (max-width:1023.98px){._7qil391g{display:none!important}}
@media (min-width:1024px) and (max-width:1279.98px){._7qil391h{display:none!important}}
@media (min-width:768px) and (max-width:1279.98px){._7qil391i{display:none!important}}
@media (min-width:1280px) and (max-width:1439.98px){._7qil391j{display:none!important}}
@media (min-width:1440px) and (max-width:2559.98px){._7qil391k{display:none!important}}
@media (min-width:1440px) and (max-width:1919.98px){._7qil391l{display:none!important}}
@media (min-width:1920px) and (max-width:2559.98px){._7qil391m{display:none!important}}
@media (min-width:768px) and (max-width:2559.98px){._7qil391n{display:none!important}}
@media (min-width:480px){._7qil391o{display:none!important}}
@media (min-width:768px){._7qil391p{display:none!important}}
@media (min-width:1024px){._7qil391q{display:none!important}}
@media (min-width:1280px){._7qil391r{display:none!important}}
@media (min-width:1440px){._7qil391s{display:none!important}}
@media (min-width:1920px){._7qil391t{display:none!important}}
@media (min-width:2560px){._7qil391u,._7qil3925{display:none!important}}
@media (orientation:portrait){._7qil391v{display:none!important}}
@media (orientation:landscape){._7qil391w{display:none!important}}
@media (min-aspect-ratio:2.25){._7qil391x{display:none!important}}
@media (pointer:coarse){._7qil391y{display:none!important}}
@media (min-width:0) and (max-width:450.98px) and (orientation:portrait){._7qil391z{display:none!important}}
@media (min-width:451px) and (max-width:767.98px) and (orientation:portrait){._7qil3920{display:none!important}}
@media (min-width:768px) and (max-width:1280.98px),(max-width:767.98px) and (orientation:landscape){._7qil3921{display:none!important}}
@media (min-width:768px) and (orientation:portrait){._7qil3922{display:none!important}}
@media (min-width:1281px) and (max-width:1920.98px){._7qil3923,._7qil3929{display:none!important}}
@media (min-width:1921px){._7qil3924,._7qil392a{display:none!important}}
@media (min-width:0) and (max-width:450.98px){._7qil3926{display:none!important}}
@media (min-width:451px) and (max-width:767.98px){._7qil3927{display:none!important}}
@media (min-width:768px) and (max-width:1280.98px){._7qil3928{display:none!important}}
@media (min-width:0) and (max-width:1449.98px){._7qil392b{display:none!important}}
@media (min-width:1500px) and (max-width:1999.98px){._7qil392c{display:none!important}}
@media (min-width:2000px){._7qil392d{display:none!important}}
@media (max-aspect-ratio:.6){._7qil392e{display:none!important}}
@media (min-aspect-ratio:.6) and (max-aspect-ratio:1){._7qil392f{display:none!important}}
@media (min-aspect-ratio:2.25),(min-width:0) and (max-width:767.98px) and (min-aspect-ratio:2){._7qil392g{display:none!important}}
@layer foundry_v1yii70{.foundry_v1yii72{width:var(--foundry-global-spacing-dimensions-200-2fbf5420);height:var(--foundry-global-spacing-dimensions-200-2fbf5420)}.foundry_v1yii73{width:var(--foundry-global-spacing-dimensions-250-1db78665);height:var(--foundry-global-spacing-dimensions-250-1db78665)}.foundry_v1yii74{width:var(--foundry-global-spacing-dimensions-300-8149e8c1);height:var(--foundry-global-spacing-dimensions-300-8149e8c1)}.foundry_v1yii75{width:var(--foundry-global-spacing-dimensions-400-b120da78);height:var(--foundry-global-spacing-dimensions-400-b120da78)}}.foundry_v1yii76{justify-content:center;align-items:center;gap:var(--foundry-global-spacing-gap-500-0fe0ec68);flex-direction:column;width:300px;display:flex}.foundry_v1yii77{justify-content:center;align-items:flex-start;gap:var(--foundry-global-spacing-gap-150-7f268a13);flex-direction:column;width:100%;display:flex}.foundry_v1yii78{place-items:center;gap:var(--foundry-global-spacing-gap-250-ee21f32b);width:100%;color:var(--foundry-alias-color-icon-standard-3eef4ce2);grid-template-columns:repeat(4,50px);display:grid}
._1n4m2yu1{width:auto;height:var(--foundry-global-spacing-dimensions-200-2fbf5420);object-fit:contain}
._1n4m2yu2{display:none}
.puylxok{outline-offset:4px;color:var(--puylxo0);background:var(--puylxo2);border-color:var(--puylxo1);opacity:var(--puylxo3);outline:4px solid #0000;transform:translate(0,0)}
.puylxok:disabled{color:var(--puylxog,var(--puylxo0));background:var(--puylxoi,var(--puylxo2));border-color:var(--puylxoh,var(--puylxo1));opacity:var(--puylxoj,var(--puylxo3))}
.puylxok[data-pressed=true]{color:var(--puylxoc,var(--puylxo0));background:var(--puylxoe,var(--puylxo2));border-color:var(--puylxod,var(--puylxo1));opacity:var(--puylxof,var(--puylxo3))}
.puylxok:not([data-pressed=true]):not([disabled]):hover{color:var(--puylxo4,var(--puylxo0));background:var(--puylxo6,var(--puylxo2));border-color:var(--puylxo5,var(--puylxo1));opacity:var(--puylxo7,var(--puylxo3))}
.puylxok:not([data-pressed=true]):not([disabled]):focus-visible{color:var(--puylxo8,var(--puylxo0));background:var(--puylxoa,var(--puylxo2));border-color:var(--puylxo9,var(--puylxo1));opacity:var(--puylxob,var(--puylxo3))}
.puylxok:focus-visible{outline-color:var(--_1nfc5st73)}
.puylxom{--puylxo0:var(--_1nfc5st7m);--puylxo2:var(--_1nfc5st73);--puylxoa:var(--_1nfc5st7v);--puylxo6:var(--_1nfc5st7v);--puylxoe:var(--_1nfc5st7w);--puylxog:var(--_1nfc5st2o);--puylxoi:var(--_1nfc5st7x);backdrop-filter:blur(6.25px);border:none}
.puylxon{--puylxo0:var(--_1nfc5st7n);--puylxo2:var(--_1nfc5st74);--puylxoa:var(--_1nfc5st7y);--puylxo6:var(--_1nfc5st7y);--puylxoe:var(--_1nfc5st7z);--puylxog:var(--_1nfc5st2o);--puylxoi:var(--_1nfc5st80);backdrop-filter:blur(6.25px);border:none}
.puylxoo{--puylxo0:var(--_1nfc5st13);--puylxo2:var(--_1nfc5st1r);--puylxoa:var(--_1nfc5st1p);--puylxo6:var(--_1nfc5st1p);--puylxoe:var(--_1nfc5st1n);--puylxoj:.3;backdrop-filter:blur(6.25px);border:none}
.puylxop{--puylxo0:var(--_1nfc5st74);--puylxo2:var(--_1nfc5st19);--puylxoa:var(--_1nfc5st18);--puylxo6:var(--_1nfc5st18);--puylxoe:var(--_1nfc5st17);--puylxog:var(--_1nfc5st80);--puylxoi:var(--_1nfc5st23);--puylxoj:.3;backdrop-filter:blur(6.25px);border:none}
.puylxoq{--puylxo0:var(--_1nfc5st79);--puylxo2:var(--_1nfc5st7h);--puylxoa:var(--_1nfc5st7i);--puylxo6:var(--_1nfc5st7i);--puylxoe:var(--_1nfc5st7j);--puylxoj:.3;backdrop-filter:blur(6.25px);border:none}
.puylxor{--puylxo0:var(--_1nfc5st79);--puylxo1:var(--_1nfc5st76);--puylxoa:var(--_1nfc5st7h);--puylxo6:var(--_1nfc5st7h);--puylxoe:var(--_1nfc5st7i);--puylxoj:.3;border:1px solid var(--puylxo1)}
.puylxos{--puylxo0:var(--_1nfc5st79);--puylxoa:var(--_1nfc5st7g);--puylxo6:var(--_1nfc5st7g);--puylxoe:var(--_1nfc5st7h);--puylxoj:.3;border:none}
.puylxot{--puylxo0:var(--_1nfc5st79);--puylxo8:var(--_1nfc5st2);--puylxo4:var(--_1nfc5st2);--puylxoc:var(--_1nfc5st3);--puylxoj:.3;border:none}
.puylxou{--puylxo0:var(--_1nfc5st73);--puylxo8:var(--_1nfc5st7v);--puylxo4:var(--_1nfc5st7v);--puylxoc:var(--_1nfc5st7w);--puylxoj:.3;border:none}
.puylxow{--puylxo0:var(--_1nfc5stg);--puylxo2:var(--_1nfc5sto);--puylxo8:var(--_1nfc5sti);--puylxoa:var(--_1nfc5stq);--puylxo4:var(--_1nfc5sti);--puylxo6:var(--_1nfc5stq);--puylxoc:var(--_1nfc5sti);--puylxoe:var(--_1nfc5str);--puylxoj:.3;border:none}
._1o5pgyxa{width:var(--jhqn1xl);height:var(--jhqn1xl)}
._1o5pgyxb{width:var(--jhqn1xj);height:var(--jhqn1xj)}
._1o5pgyxc{width:var(--jhqn1xh);height:var(--jhqn1xh)}
._1o5pgyxd{width:var(--jhqn1xf);height:var(--jhqn1xf)}
._1o5pgyxf{width:var(--jhqn1xd);height:var(--jhqn1xd)}
._1o5pgyxg{width:var(--jhqn1xb);height:var(--jhqn1xb)}
._1o5pgyxh{width:var(--jhqn1x9);height:var(--jhqn1x9)}
._1o5pgyxi{width:var(--jhqn1x8);height:var(--jhqn1x8)}
:root{--_16b6yl70:cubic-bezier(.32, .72, 0, 1);--_16b6yl71:cubic-bezier(.42, 0, .58, 1);--_16b6yl72:.5s;--_16b6yl73:.3s}
@layer herm1h0{._1o5pgyx0{cursor:pointer;box-sizing:border-box;border-radius:var(--foundry-global-border-radius-pill-8c8d51e6);flex-direction:row;flex-shrink:0;justify-content:center;align-items:center;transition:color .2s ease-in-out,background-color .2s ease-in-out,outline-color .2s ease-in-out,border-color .2s ease-in-out;display:inline-flex}._1o5pgyx0:disabled{cursor:not-allowed}}
@layer herm1h0{._1o231x80{object-fit:cover;-webkit-user-select:none;user-select:none;width:100%;min-width:0;height:auto;min-height:0;display:block;position:relative}._1o231x81{aspect-ratio:1}._1o231x82{aspect-ratio:9/16}}
@keyframes _1vj6rpw0{0%{opacity:0}to{opacity:1}}
@keyframes _1vj6rpw1{0%{opacity:1}to{opacity:0}}
._1vj6rpw2{border-radius:inherit;width:100%;height:100%}
._1vj6rpw2>div{display:block!important}
._1vj6rpw3{-webkit-user-select:none;user-select:none;touch-action:none;padding:var(--jhqn1x6) var(--jhqn1x4);width:var(--jhqn1x3);box-sizing:content-box;display:flex}
._1vj6rpw3[data-state=visible]{animation:.3s cubic-bezier(.455,.03,.515,.955) _1vj6rpw0}
._1vj6rpw3[data-state=hidden]{animation:.3s cubic-bezier(.455,.03,.515,.955) _1vj6rpw1}
._1vj6rpw4{background:var(--_1nfc5st7k);border-radius:var(--foundry-global-border-radius-50-5b3f01bf);flex:1;position:relative}
._1vj6rpw4:before{content:"";width:100%;height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}