.za06z10{text-overflow:ellipsis;-webkit-line-clamp:1;white-space:break-spaces;text-wrap:nowrap;border-radius:var(--foundry-global-border-radius-50-5b3f01bf);-webkit-box-orient:vertical;justify-content:center;align-items:center;display:-webkit-box;overflow:hidden}
.za06z11{background:var(--_1nfc5st2);color:var(--_1nfc5stw)}
.za06z12{background:var(--_1nfc5st7j);color:var(--_1nfc5st79)}
.za06z13{color:var(--_1nfc5st79);border:1px solid var(--_1nfc5st7k)}
.za06z14{padding:var(--jhqn1x4) var(--jhqn1x5)}
.za06z15{font-size:var(--jhqn1x7);padding:var(--jhqn1x3) var(--jhqn1x4)}